@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flex ASP.NET demo</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-default">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Flex Demo</h2>
        <p>
            Demonstrates accessing the xbim Flex API using Client Credentials.
        </p>

        <p>@Html.ActionLink("Go to demo", "Index", "Flex", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>